*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.show-calender-r {
	display: inline-block !important;
}

.delfos-calender-input-r {
	display: inline-block;
	border: 1px solid #ddd;
	padding: 10px;
	height: 45px;
	width: 210px;
	border-radius: 10px;
	font-size: 12px;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delfos-calender-r {
	position: absolute;
	top: 48px;
	left: -12%;
	display: none;
	width: 260px;
	box-shadow: 1px 1px 16px 0px rgb(0 0 0 / 8%);
	padding: 20px;
	border-radius: 15px;
	cursor: default;
}

.delfos-r {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.month-row-r {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ff8f45;
	padding: 8px;
	border-radius: 10px;
	color: #fff;
}

.month-row-r .prev-month-r {
	height: 15px;
	cursor: pointer;
	display: inline-block;
}
.month-row-r .next-month-r {
	height: 15px;
	cursor: pointer;
	display: inline-block;
}

.week-column-r {
	color: #ff8f45;
	padding: 8px 0;
	display: flex;
}

.week-column-r div {
	width: calc(100% / 7);
	display: flex;
	justify-content: center;
}

.date-column-r {
	display: flex;
	flex-wrap: wrap;
}

.date-column-r div {
	width: calc(100% / 7);
	padding: 7px 0;
	margin-top: 4px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	font-size: 13px;
}

.disable-button-r {
	opacity: 0.5;
	pointer-events: none;
	cursor: default;
}

.selected-date-r {
	background-color: #fef1ec;
	color: #ff8f45;
	border-radius: 100%;
}

.delfos-clock-1-r {
	position: absolute;
	top: 48px;
	left: 8%;
	display: none;
	width: 180px;
	box-shadow: 1px 1px 16px 0px rgb(0 0 0 / 8%);
	padding: 20px;
	border-radius: 15px;
	cursor: default;
}

.delfos-clock-1-r .title-r {
	text-align: center;
	background-color: #ff5c60;
	font-size: 10pt;
	color: #fff;
	padding: 5px 0;
	border-radius: 5px;
}

.delfos-clock-1-r .date-picker-r {
	display: flex;
	justify-content: space-between;
}
.delfos-clock-1-r .date-picker-r .hour-box-r,
.delfos-clock-1-r .date-picker-r .minute-box-r,
.delfos-clock-1-r .date-picker-r .am-pm-box-r {
	width: 30%;
}

.delfos-clock-1-r .date-picker-r .up-down-arrow-r {
	height: 15px;
}
.delfos-clock-1-r .hour-box-r,
.delfos-clock-1-r .minute-box-r,
.delfos-clock-1-r .am-pm-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.delfos-clock-1-r .increase-hour-r,
.delfos-clock-1-r .decrease-hour-r,
.delfos-clock-1-r .increase-minute-r,
.delfos-clock-1-r .decrease-minute-r,
.delfos-clock-1-r .change-am-pm-1-r,
.delfos-clock-1-r .change-am-pm-2-r {
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
}

.delfos-clock-1-r .hour-value-r,
.delfos-clock-1-r .minute-value-r,
.delfos-clock-1-r .am-pm-value-r {
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 5px;
	font-size: 12px;
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.delfos-clock-2-r,
.delfos-clock-3-r {
	position: absolute;
	top: 48px;
	left: -13%;
	display: none;
	width: 260px;
	box-shadow: 1px 1px 16px 0px rgb(0 0 0 / 8%);
	padding: 20px;
	border-radius: 15px;
	cursor: default;
}

/* .delfos-clock-2 .hour-box,
.delfos-clock-2 .minute-box {
	display: none;
} */

.delfos-clock-2-r .title-r,
.delfos-clock-3-r .title-r {
	text-align: center;
	background-color: #ff5c60;
	font-size: 10pt;
	color: #fff;
	padding: 5px 0;
	border-radius: 5px;
}

.delfos-clock-2-r .hour-list-r,
.delfos-clock-3-r .minute-list-r {
	display: flex;
	flex-wrap: wrap;
}

.delfos-clock-2-r .hour-list-r .hour-item-r,
.delfos-clock-3-r .minute-list-r .minute-item-r {
	width: 25%;
	display: flex;
	justify-content: center;
	margin-top: 8px;
	font-size: 13px;
	cursor: pointer;
}

/* SELECT PASSENGER */
.select-passengers-r {
	display: inline-block;
	border: 1px solid #ddd;
	padding: 10px;
	height: 45px;
	width: 100px;
	border-radius: 10px;
	font-size: 12px;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.select-passengers-input-r {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.select-passengers-input-r .user-img-r {
	width: 25px;
}

.select-passengers-input-r .down-arrow-r {
	margin-top: 7px;
	width: 16px;
}
.select-passenger-value-r {
	font-size: 14px;
}

.select-passengers-box-r {
	position: absolute;
	top: 48px;
	display: none;
	left: 0;
	width: 260px;
	box-shadow: 1px 1px 16px 0px rgb(0 0 0 / 8%);
	padding: 10px 8px;
	border-radius: 15px;
	cursor: default;
}

.select-passengers-row-r {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
}

.select-passengers-row-r:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

.select-passengers-row-left-r {
	display: flex;
}

.select-passengers-row-left-r img {
	width: 30px;
}
.select-passengers-row-right-r {
	padding-right: 8px;
}
.select-passengers-row-right-r .increase-button-r,
.select-passengers-row-right-r .decrease-button-r {
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	border: 1px solid #999;
	border-radius: 100px;
	padding: 1px 7px;
	color: #999;
}

.select-passengers-row-right-r .adult-value-r,
.select-passengers-row-right-r .kid-value-r,
.select-passengers-row-right-r .baby-value-r {
	/* padding: 3px 5px; */
	padding: 3px 0;
	font-size: 14px;
	width: 25px;
	display: inline-block;
	text-align: center;
}

.select-passengers-row-right-r .decrease-button-r {
	padding: 1px 9px;
}

.select-passengers-row-left-text-1-r {
	font-size: 12px;
}

.select-passengers-row-left-text-2-r {
	font-size: 11px;
	color: #999;
}

.unselectable-r {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
