*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.show-calender {
	display: inline-block !important;
}

.delfos-calender-input {
	display: inline-block;
	border: 1px solid #ddd;
	padding: 10px;
	height: 45px;
	width: 210px;
	border-radius: 10px;
	font-size: 12px;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delfos-calender {
	position: absolute;
	top: 48px;
	left: -12%;
	display: none;
	width: 260px;
	box-shadow: 1px 1px 16px 0px rgb(0 0 0 / 8%);
	padding: 20px;
	border-radius: 15px;
	cursor: default;
}

.delfos {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.month-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ff8f45;
	padding: 8px;
	border-radius: 10px;
	color: #fff;
}

.month-row .prev-month {
	height: 15px;
	cursor: pointer;
	display: inline-block;
}
.month-row .next-month {
	height: 15px;
	cursor: pointer;
	display: inline-block;
}

.week-column {
	color: #ff8f45;
	padding: 8px 0;
	display: flex;
}

.week-column div {
	width: calc(100% / 7);
	display: flex;
	justify-content: center;
}

.date-column {
	display: flex;
	flex-wrap: wrap;
}

.date-column div {
	width: calc(100% / 7);
	padding: 7px 0;
	margin-top: 4px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	font-size: 13px;
}

.disable-button {
	opacity: 0.5;
	pointer-events: none;
	cursor: default;
}

.selected-date {
	background-color: #fef1ec;
	color: #ff8f45;
	border-radius: 100%;
}

.delfos-clock-1 {
	position: absolute;
	top: 48px;
	left: 8%;
	display: none;
	width: 180px;
	box-shadow: 1px 1px 16px 0px rgb(0 0 0 / 8%);
	padding: 20px;
	border-radius: 15px;
	cursor: default;
}

.delfos-clock-1 .title {
	text-align: center;
	background-color: #ff5c60;
	font-size: 10pt;
	color: #fff;
	padding: 5px 0;
	border-radius: 5px;
}

.delfos-clock-1 .date-picker {
	display: flex;
	justify-content: space-between;
}
.delfos-clock-1 .date-picker .hour-box,
.delfos-clock-1 .date-picker .minute-box,
.delfos-clock-1 .date-picker .am-pm-box {
	width: 30%;
}

.delfos-clock-1 .date-picker .up-down-arrow {
	height: 15px;
}
.delfos-clock-1 .hour-box,
.delfos-clock-1 .minute-box,
.delfos-clock-1 .am-pm-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.delfos-clock-1 .increase-hour,
.delfos-clock-1 .decrease-hour,
.delfos-clock-1 .increase-minute,
.delfos-clock-1 .decrease-minute,
.delfos-clock-1 .change-am-pm-1,
.delfos-clock-1 .change-am-pm-2 {
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
}

.delfos-clock-1 .hour-value,
.delfos-clock-1 .minute-value,
.delfos-clock-1 .am-pm-value {
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 5px;
	font-size: 12px;
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.delfos-clock-2,
.delfos-clock-3 {
	position: absolute;
	top: 48px;
	left: -13%;
	display: none;
	width: 260px;
	box-shadow: 1px 1px 16px 0px rgb(0 0 0 / 8%);
	padding: 20px;
	border-radius: 15px;
	cursor: default;
}

/* .delfos-clock-2 .hour-box,
.delfos-clock-2 .minute-box {
	display: none;
} */

.delfos-clock-2 .title,
.delfos-clock-3 .title {
	text-align: center;
	background-color: #ff5c60;
	font-size: 10pt;
	color: #fff;
	padding: 5px 0;
	border-radius: 5px;
}

.delfos-clock-2 .hour-list,
.delfos-clock-3 .minute-list {
	display: flex;
	flex-wrap: wrap;
}

.delfos-clock-2 .hour-list .hour-item,
.delfos-clock-3 .minute-list .minute-item {
	width: 25%;
	display: flex;
	justify-content: center;
	margin-top: 8px;
	font-size: 13px;
	cursor: pointer;
}

/* SELECT PASSENGER */
.select-passengers {
	display: inline-block;
	border: 1px solid #ddd;
	padding: 10px;
	height: 45px;
	width: 100px;
	border-radius: 10px;
	font-size: 12px;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.select-passengers-input {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.select-passengers-input .user-img {
	width: 25px;
}

.select-passengers-input .down-arrow {
	margin-top: 7px;
	width: 16px;
}
.select-passenger-value {
	font-size: 14px;
}

.select-passengers-box {
	position: absolute;
	top: 48px;
	display: none;
	left: 0;
	width: 260px;
	box-shadow: 1px 1px 16px 0px rgb(0 0 0 / 8%);
	padding: 10px 8px;
	border-radius: 15px;
	cursor: default;
}

.select-passengers-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
}

.select-passengers-row:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

.select-passengers-row-left {
	display: flex;
}

.select-passengers-row-left img {
	width: 30px;
}
.select-passengers-row-right {
	padding-right: 8px;
}
.select-passengers-row-right .increase-button,
.select-passengers-row-right .decrease-button {
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	border: 1px solid #999;
	border-radius: 100px;
	padding: 1px 7px;
	color: #999;
}

.select-passengers-row-right .adult-value,
.select-passengers-row-right .kid-value,
.select-passengers-row-right .baby-value {
	/* padding: 3px 5px; */
	padding: 3px 0;
	font-size: 14px;
	width: 25px;
	display: inline-block;
	text-align: center;
}

.select-passengers-row-right .decrease-button {
	padding: 1px 9px;
}

.select-passengers-row-left-text-1 {
	font-size: 12px;
}

.select-passengers-row-left-text-2 {
	font-size: 11px;
	color: #999;
}

.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
